.about h1 {
    font-size: 48px;
}

.about h3 {
    font-size: 32px;
}

a{
    color: #F500B4;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
}

.about{
    position: relative;
    margin: auto;
    width: 82%;
    min-width: 420px;
    height: 530px;
    box-shadow: 16px 16px #333;
}

#drop-shadow-box{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip-the-box{
    transform: rotateY(180deg);
}

#flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: solid #000 2px;
    backface-visibility: hidden;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

#flip-card-front h3 {
    color: #624763;
}


#flip-card-front h3:hover {
    color: #F500B4;
}

#flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: solid #000 2px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#flip-card-back p {
    font-size: 24px;
}

#flip-card-back div{
    width: 300px;
    margin: auto;
    text-align: center;
    gap: 40px;
}

#flipButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    background-color: #FFF;
    padding: 10px;
    border: none;
}

#flipButton img {
    weight: 32px;
    height: 32px;
}

.my-name {
    gap: 20px;
}

#emailButton {
    border: solid 2px #000;
    color: #000;
    background-color: #D6FF79;
    font-size: 20px;
    border-radius: 24px;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease;
}

#emailButton::before {
    content: attr(data-email);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#emailButton:hover::before {
    content: "Copy mail";
}

#emailButton:active::before {
    content: "Copy mail ✔";
}

#emailButton:active {
    background-color: #FF9FE5;
    cursor: progress;
}

#networks img {
    width: 86px;
    height: 86px;
    transition: all 0.2s ease;
}

#networks {
    display: flex;
    gap: 40px;
}

#my-photo{
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background-image: url(/img/myphoto.gif);
    background-size: cover;
    background-position: center;
    display: none;
}

.about-paragraph {
    display: none;
    flex-direction: column;
    width: 300px;
    min-width: 250px;
    font-size: 20px;
}

.about-paragraph a {
    color:#624763;
}

.about-paragraph a:hover {
    color :#F500B4 ;
}

@media screen and (min-width: 992px){
        .about-container{
            align-items: center;
            margin-left: 5%;
        }
    
        .about {
            width: 800px;
            min-width: 650px;
            margin: 0;
        }
    
        #flipButton {
            display: none;
        }
    
        #my-photo{
            display: block;
        }
    
        .about-paragraph {
            display: block;
        }

        #networks img:hover {
            width: 52px;
            height: 52px;
        }
}
