body {
    background-color: #D6FF79;
}

.title {
    width: 512px;
    margin: auto;
    text-align: center;
}

.title img {
    width: 512px;
    height: 512px;
}

.minia {
    display: flex;
    flex-direction: row;
}

.minia img {
    width: 512px;
    height: 512px;
}

.minia div {
    display: flex;
    flex-direction: column;
}

.minia div img:nth-child(2) {
    position: absolute;
}

.minia div img:first-child {
    z-index: 2;
    position: relative;
    transition: top 5s ease;
}

@keyframes ImageReveal {
    0% {
        left: 0px;
    }
    5% {
        left: 512px;
    }
    90% {
        left: 512px;
    }
    100% {
        left: 0px;
    }
}

.minia div img:first-child:active {
    animation: ImageReveal 10s ease-in-out forwards;
}

.logoanim img {
    height: 512px;
}


.chara-design img {
    height: 512px;
}

.chara-design div {
    display: flex;
}

.gameplay img {
    height: 512px;
}

.anim img {
    height: 256px;
}

.level-design img{
    height: 256px;
}