body {
    background-color: #004351;
    font-family: 'Jost', sans-serif;
    margin: 0px;
}

.header {
    background-color: #032A33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-item {
    color: white;
    margin-right: 50px;
    padding: 5px;
    border-radius: 16px;
}

.nav-item:hover {
    background-color: #fff;
    color: #004351;
}

.selected {
    color: #EAF597;
    padding-right: 60px;
}

.btn-0 {
    padding: 4px;
    background-color: #EAF597;
    color: #032A33;
    border-radius: 5px;
    margin-right: 24px;
}

.page{
    margin-left: 120px;
    margin-right: 120px;
}

.mainref {
    width: 100%;
}

h4 {
    color: white;
    padding-left: 24px;
}

h3,h2 {
    color: white;
}

.trajet h3 {
    color: #fff;
}

.center {
    display: flex;
    margin: auto;
}

.yellow {
    background-color: #EAF597;
    border-radius: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #032A33 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.coolwidth {
    width: 40%;
}

.superwidth {
    width: 80%;
    justify-content: space-between;
}

.bluegreen {
    background-color: #24C7B4;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.searchbar {
    background-color: #24C7B4;
    width: 80%;
    height: 45px;
    border-radius:80px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.searchbar img {
    width: 28px !important;
    height: 28px !important;
}

.trajet {
    margin-right: 80px;
    width: 100%;
}

.trajet img:nth-child(2){
    width: 44px;
    height: 44px;
}

.gare {
    align-items: center;
    justify-content: space-between;
}

.heure {
    justify-content: space-between;
}

.date h3 {
    color: #fff;
}

.offre {
    width: 245px;
    margin-bottom: 60px;
}

.offre img {
    margin-top: 44px ;
    height: 159px;
    margin-right: 44px;
}

.offre img:hover{
    opacity: calc(80%);
}

.offre-h h3 {
    color: #fff;
}

.flex {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.wp p {
    color: white;
}

.co2 {
    width: 300px;
    height: 314px;
    background-color: #EAF597;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 80px;
    margin-right: 80px;
}

.rond {
    background-color: #004351;
    width: 96px;
    height: 96px;
    border-radius: 96px;
    margin: 10px;
}

.co2 p,h3 {
    color: #004351;
}

.co2 img {
    width: 36px;
    height: 36px;
}

.btn-1 {
    color: #fff;
    background-color: #004351;
    width: 164px;
    height: 38px;
    border-radius: 10px;
    margin-top: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.btn-2 {
    color: #EAF597;
    border: solid;
    border-color: #EAF597;
    border-radius: 90px;
    width: 160px;
    height: 44px;
}

.btn-2:hover{
    background-color: #EAF597;
    color: #004351;
}

.heure {
    align-items: center;
}

.heure p{
    color: #fff;
}

.paragraphe {
    width: 420px;
    color: white;
}

.bloc-1 {
    padding-top: 80px;
}

.bloc-1 {
    padding-left: 24px;
}

.bloc-2 {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.paragraphe-2 {
    width: calc(48%);
}

.paragraphe-2 div{
    margin-bottom: 44px;
}
    
.paragraphe-2 h2 {
    margin-bottom: 44px;
}

.bloc1 {
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
}

.bloc2 {
    margin-top: 80px;
    justify-content: space-between;
}

.carte {
    width: 600px;
    height: 380px;
    background: url(https://www.sncf.com/sites/default/files/styles/crop_image_facebook/public/2017-10/Carte_TGV_Axe_Atlantique_Header.jpg);
}

.ami {
    border: solid #EAF597;
    border-radius: 24px;
    width: 250px;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.ami p {
    color: #fff;
}

.ami a {
    margin-bottom: 10px;
}

.profil-ami img {
    width: 140px;
    height: 140px;
    border-radius: 110px;
}

.profil-ami {
    align-items: flex-start;
}

.yellowdetail {
    width: 200px;
    background-color: #EAF597;
    border-radius: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #032A33 !important;
}

.notif {
    background-color: red;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.direct {
    padding-right: 24px;
}

.direct p {
    color: #000;
    background-color: #24C7B4;
    border-radius: 64px;
    width: 80px ;
    height: 32px;
    text-align: center;
}

.direct h3 {
    color: #fff;
}

.direct img {
    width: 32px;
    height: 32px;
}

.btn-direct {
    background: #24C7B4;
    padding: 10px;
    border-radius: 10px;
}

#arret-terminus {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #24C7B4;
    border-radius: 4px;
    background-color: #24C7B4;
}

#temps-restant {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arret-terminus2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #24C7B4;
    border-radius: 4px;
    background-color: #24C7B4;
}

#temps-restant2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forme {
    position: absolute;
    background : url(img/forme.png);
    z-index: -10;
    width: 80%;
    height: 200px;
    right: -150px;
    bottom: -400px;
}

.tapbar {
    display: none;
}

.footer {
    background-color: #032A33;
    justify-content: space-around;
    margin-top: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer a{
    color: #fff;
    padding-bottom: 24px;
}

.footer h3{
    color: #fff;
    padding-bottom: 16px;
}

.footer a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .bloc-2 {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 20px;
    }

    .paragraphe {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .searchbar {
        width: 100%;
    }

    .co2 {
        height: 400px;
    }

    .rond {
        width: 120px;
        height: 120px;
        border-radius: 120px;
    }

    .superwidth {
        width: 100%;
    }

    .offre {
        flex-direction: column;
        width: 90%;
    }

    .offre-h {
        margin-left: 0px;
    }

    .offre img {
        margin-right: 44px;
        object-fit: cover;
    }

    .bloc2 {
        flex-direction: column-reverse;
    }

    .footer {
        flex-direction: column;
        padding-left: 44px;
    }

    .page {
        margin-left: 60px;
        margin-right: 60px;
    }

    .header .nav-item, .selected {
        display: none;
    }

    .forme {
        display: none;
    }

    .tapbar {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        font-size: 24px;
    }

    .bloc-1 {
        flex-direction: column;
    }

    .ami {
        margin-top: 80px;
        font-size: 18px;
    }
}